# index

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Input ingredient</h1>
    <form action="/send" method="POST">
        <div class="form-group">
            <input type="text" name="ingredient">
        </div>
        <input name="vegetarian" type="checkbox" value="vegetarian"> Only show me vegetarian recipes
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
</body>
</html>